@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lalezar&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    font-family:"Poppins";

}

/* HEADER */

.header{
    /* background: linear-gradient(
        130deg,
        rgba(129, 33, 208, 1)30%,
        rgba(51, 28, 82, 1)90%); */
    background-image:linear-gradient(120deg,rgba(129, 33, 202, 1)30%,rgba(41, 28, 58, 1)80%,rgba(41, 28, 58, 1)50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
    font-family:"Poppins";
}

.header .logo{
    cursor: pointer;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}


.header .nav-links a{
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;

}

.header .nav-links li a:hover{
    color: #331C52;
    background-color: #FFFFFF;
    transform:  scale(1.1);
}

.header .contacto a{
    /* color: #FFFFFF; */
    font-size: 15px;
}

.header .contacto .btn{
    font-size: 15px;
    color: #FFFFFF;
}

.header .contacto {
    display: flex;
    margin-right: 300px;
    /* background-color: #FFFFFF; */
    font-weight: 300;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
    
}

.header .contacto:hover{
    background-color: #FFFFFF;
    /* border: none; */
    color:#331C52 ;
} 

.header .contacto .btn:hover{
    /* background-color: #FFFFFF; */
    /* border: none; */
    color:#331C52 ;
} 


.header .contacto a{
    font-family:"Poppins";

}

.mensaje{
    /* color: #FFFFFF; */
    font-size: 15px;
    margin-right: 8px;
}


.header img{
    height: 430px;
    position: absolute;
    left: 1010px;
    top: 5px;
}

/* SECTION DE PRESENTACION */

.about{
    background-image:linear-gradient(120deg,rgba(51, 28, 82, 1)50%,rgba(41, 28, 58, 1)60%,rgba(41, 28, 58, 1)30%);
    padding-bottom: 55px;
}

.cont-text{
    padding-top: 70px;
    padding-left: 70px;
    color: #FFFFFF;
    font-size: 30px;
}

.cont-text h3{
    font-family: "Poppins";
    font-size: 25px;
}

.cont-text h1{
    font-size: 50px;
    font-family: "Lalezar";
    color: #8e72b5;
    margin-top: 10px;
    margin-bottom: 9px;
}

.cont-text p{
    font-size: 30px;
    font-family:"Poppins";
}

.redes{
    margin-top: 15px;
}

.redes i{
    font-size: 25px;
    color: #8e72b5; 
    margin-right: 13px; 
}

/*SECTION EXPERIENCIA */

.experiencia{
    background-color: #291C3A;
padding: 8px 0 8px 0;
}

.contenedor{
    display: flex;
    color: #FFFFFF;
    font-family: "Poppins";
    text-transform: uppercase;
    justify-content:space-around;
    padding-top:5px;
    padding-bottom: 5px;
}

.contenedor div{
    align-items:center;
    margin-left: 70px;
}
.anios-exp{
    display: flex;
    /* justify-content:center; */
    /* flex-grow: 1; */
    flex-grow: 1;
}

.anios-exp h2{
    font-size: 45px;
    margin-right: 5px;
}

.trabajos-comp{
    display: flex;
    /* justify-content:center; */
    /* flex-grow: 1; */
    flex-grow: 1;
}

.trabajos-comp h2{
    font-size: 45px;
    margin-right: 5px;

}

.image{
    align-items: center;
    flex-grow: 2;
}

.image img{
    display:inline;
    /* align-items: center; */
    height: 45px;
    margin-right: 20px;
    /* flex-grow: 10 */
}

/*SECTION ABOUT ME*/

section{
    background-color: #E1EBED;
}

.about-me{
    display: flex;
    padding: 50px 80px 50px 80px;
    flex-direction: column;
    /* flex-flow:row wrap; */
    /* justify-content:space-between; */
}

.me{
    width: 470px;
    

}

.me h2{
    color: #331C52;
    font-size: 30px;
    margin-bottom: 15px;
} 

.me p{
    color: #331C52;
    line-height: 25px;
}

.habilidades{
    width: 470px;
    margin-left: 697px;
    margin-top: 10vh;
}


.habilidades h2{
    color: #331C52;
    font-size: 30px;
    margin-bottom: 15px;
}

.habilidades p{
    color: #331C52;
}

.habilidades img{
    height: 50px;
    padding: 5px;
    background-color: #331C52;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 15px;
}

/* SECTION MIS PROYECTOS */

.contenedor-proyectos{
    padding: 50px 80px 250px 80px;
}

.contenedor-proyectos h2{
    font-size: 30px;
    color: #331C52;
    margin-bottom: 15px;
}

.contenedor-proyectos p{
    margin-bottom: 15px;
}

.image-proyectos{
    display: flex;
}

.image-proyectos div{
    padding: 2px;
    margin-right: 10px;
    background-color: #DCCFED;
    border-radius: 6px;
    align-items: center;
}

.image-proyectos img{
    height: 145px;
    margin-left: 3px;
    margin-top: 3px;
}

.image-proyectos h2{
    color: #331C52;
}

.miestilo2{
    color: #FFFFFF;
}

.image-proyectos div .vermas{
    display: flex;
    background-color: #331C52;
    border-radius: 5px;
    padding: 1px;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 7px;
}

.image-proyectos .vermas{
    height: 30px;
    color: #FFFFFF;
    text-decoration: dotted;
}

.image-proyectos .vermas a{
    color: #FFFFFF;
}

.image-proyectos .vermas i{
    margin-right: 8px;
} 

/* SECTION CONTACTO */

.container-contacto{
    display: flex;
    padding: 50px 80px 50px 80px;
    margin: 0px 10px 10px 10px;
    background-color: #DCCFED;
    justify-content: space-between;
    /* border: 1px solid black; */

}

.container-contacto .text-checkbox h2{
    color: #331C52;
    font-size: 30px;
    padding: 0 0 80px 0;
}



.container-contacto .text-checkbox p{
    font-weight: 700;
    color: #331C52;
}

.text-checkbox .checkbox{
    /* border: 1px solid black; */
    width: 500px;
    /* display: inline; */
}

.text-checkbox .checkbox ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: initial;
}

.text-checkbox .checkbox ul li{
    display: inline-block;
    margin:10px 10px;
}
.text-checkbox .checkbox ul li label{
    display: inline-block;
    background-color:#DCCFED ;
    border: 1px solid #331C52;
    color: #331C52;
    font-weight: 500;
    border-radius: 5px;
    transition: .2s all ease;
    padding: 8px 12px;
}

.text-checkbox .checkbox ul li label:hover{}

.text-checkbox .checkbox ul li input[type="checkbox"]:checked + label{
    border: 1px solid #331C52;
    background-color: #331C52;
    color: #FFFFFF;
}

.text-checkbox .checkbox ul li input[type="checkbox"]{
    opacity: 0;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario .formulario-hijo{
    text-align: center;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
}

.formulario .formulario-hijo input{
    display: flex;
    padding: 10px 200px 10px 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid gray;
}


.formulario .formulario-hijo button{
    padding: 10px 180px 10px 180px;
    background-color: #331C52;
    color: #FFFFFF;
    border: 1px solid #331C52;
    border-radius: 5px;
    margin-bottom: 20px;
}

.formulario .formulario-hijo textarea{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}    

.formulario .formulario-hijo button i{
    margin-right: 10px;

}

.estilo{
    color: #331C52;
    font-size: 30px;
    margin: 10px;
}

/* SECTION FOOTER */

footer{
    background-color: #331C52;
}


